/* <--------------------------------FOOTER----------------------------> */
.page-footer{
  background-color:#f8f9fa;
  width: 100%;
  height: 110px;
  margin-top: 65px;
}
 
.navbar i{
  color: #4a4f50;
}


/* <--------------------SOCIAL BUTTONS-----------------------> */
.facebook,.linkedin,.twitter,.youtube,.instagram,.github{
  color: rgb(247, 205, 79);
}

.facebook,.linkedin,.instagram,.youtube,.twitter,.github{
  font-weight: bold;
  font-size: 22px;
} 

.facebook:hover,.linkedin:hover,.instagram:hover,.youtube:hover,.twitter:hover,.github:hover{
  color: black;
}


.pink{
  color: #f65454;
}


/* <----------------------------NAVBAR----------------------> */

.container_inicio {
display: block;
    margin: 4em 2em;
}
.logo {
  display: flex;
  height: 3em;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
    background-color:rgba(175, 224, 230, 0.95)!important;

    
}

.navbar-collapse {
    justify-content: flex-end;
}

.map_animated {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.text_title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1em auto;
    margin-top: 150px;
}

.text_title h1{
  color: #4a4f50;
}

.motto h2 {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    width: 75%;
    
}
 h2 {
    color: rgb(160, 50, 31);
    margin: 1em 1.5em;
    font-weight: 2000;
    font-family: 'Cedarville Cursive', cursive;
 }

 h3 {
  color: rgb(160, 50, 31);
  margin: 1em 1.5em;
  font-size: 1.2em;
  font-weight: 2000;
  font-family: "Montserrat", sans-serif;
}

h4 {
  color: rgb(160, 50, 31);
  font-weight: 3000;
  font-size: 2.5vw;
  font-family: 'Cedarville Cursive', cursive;
}

.nav {
  list-style-type: none;
}



/* <-----------------------------ROUTES PAGE------------------------------> */
.divider_routes{
  margin: 40px auto;
}

.btn,btn-primary{
  margin-left: 150px;
  background-color: rgb(247, 205, 79);
  border: 1px solid white;
}

.btn:hover{
  background-color: black;
  border: 1px solid white;
} 

.h3_javi{
  font-family: "Montserrat", "sans-serif";
  color: black;
  margin: 1em auto;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(82, 79, 79);
}

.h2_javi{
  color: rgb(160, 50, 31);
  margin-top: 40px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 104px;
  font-size: 43px;
  margin-bottom: 10px;
}

.h2_index{
  margin-left: 195px;

}

.h2_recipes{
  margin: 150px 16px 0px 62px;
  font-weight: bold;
}
}


.p_javi{
  font-family: "cardo" , cursive;
  font-size: 17px;
  color: rgb(82, 79, 79);
}

.img-fluid:hover{
  opacity: 0.78;
}




.container_routes1{
  border: 1px solid black;
  height: 500px;
  margin: 3em 2em 2em 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.horizontal_city_card{
  border: 1px solid black;
  height: 26rem;
  width: 40rem;
  justify-content: space-evenly;
}

.card{
  height: 32rem;
  justify-content: space-evenly;
}

.card p{
  font-family: 'Cardo', serif;
}

.card h5{
  font-family: 'Cedarville Cursive', cursive;
  
}

.routes_title_subtitle{
  margin: 3em 2em 2em 2em;
  
}

/* HORIZONTAL CARDS RECIPES */

.recipes_title_subtitle {
  margin: 3em 2em em 2em;
}

.external_container_Hcards {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 0 1.2em;
}


/*declare a css grid, set width and height of the container, name cells*/
.horizontal_recipe_card {
  /*hide backface after rotation*/
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "image image text text text ."
    "image image text text text ."
    "image image icons icons icons link";
  border: 1px rgba(243, 184, 184, 0.603);
  box-shadow: 10px 10px 23px -8px rgba(194,194,194,0.62);
}

/*declare section of the grid dedicated to image*/
.img_part { 
  grid-area: image;
  border: 1px solid rgba(224, 224, 224, 0.329);
  justify-self: stretch;
}

/*with > select child of the image div, and set sizing properties*/
.img_part > img {
    padding: 0.75rem;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/*the below assigns a section of the grid to each element, one for the text area, the other one for the link*/
.description_part {
  grid-area: text;
  border: 1px solid rgba(204, 204, 204, 0.137);
  text-align: center;
}

.description_part h2 {
  margin: 0.5em auto;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 2000;
} 

.description_part h3 {
  margin: 2em auto 0.7em;
  text-transform: uppercase;
  color: rgb(82, 79, 79);
} 

.description_part h4 {
  font-size: 2em;
  color: rgb(255, 210, 8)
  
} 

.recipe_link {
  grid-area: link;
  display: flex;
  text-align: center;
  justify-content: center;
}

#textlink {
  align-self: center;
  color: rgb(185, 56, 34);
  
}

.description_part p {
  font-family: 'Cardo', serif;
  font-size: 1em;
  text-align: justify;
  margin: 1em;
  
}

/* icons cooking */
.cook_icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.cook_icons img{
  margin: 1rem;
  width: 1rem;
}

/* FLIP CARD */
.flip-card {
  margin: 2.5rem;
  width: 75vw;
  height: 45vh;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 229, 111);
  color: rgb(37, 37, 37);
  transform: rotateX(180deg);
  display: flex;
  border: 1px rgba(243, 184, 184, 0.603);


}

/* Back side divided in two blocks: left and right */
.left_text {
  flex-direction: column;
  grid-area: text1;
  border: 1px solid rgba(204, 204, 204, 0.137);
  text-align: left;
  width: 25%;
  margin: 0 1.2em;
  font-family: 'Cardo', serif;
  margin: 1em 0.5em 1em 2em;
  }

.ingredients_list {
  font-family: 'Cardo', serif;
  font-size: 0.85em;
  list-style: square;
  margin: 1.2em 0.2em 1em 0;
}
.left_text h4{
  font-size: 1.5em;
}

.right_text {
  margin: 1.5em 2em 1em 0;
  display: flex;
  flex-direction: column;
  width: 65%;
  font-family: 'Cardo', serif;
  color: black;
  font-size: 0.8em;
  text-align: justify;
  align-self: right;
}

.right_text h5 {
  color: rgb(66, 66, 66);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  align-self: center;
  margin-left: 0.2em;
}


/* responsive cards */

@media screen and (max-width: 767px) {
  .flip-card{
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .horizontal_recipe_card {
    height: 285px;
  }
  .flip-card:last-child {
    margin-bottom: 3%;
  }
  .description_part p {
    visibility: hidden;
  }
  .cook_icons {
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  .flip-card {
    width: 94.5%;
  }
  .horizontal_recipe_card  {
    height: 260px;
  }
  .description_part p {
    visibility: hidden;
  }
  .cook_icons {
    visibility: hidden;
  }
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
}


form {
    /* center contact form */
    margin: 0 auto;
    /*define a flex box for the contact form, vertical direction */ 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    /* vw is used to allow re-sizing of the contact form depending on the size of the screen used */
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    color: #000000;
    line-height: 24px;
    border-radius: 10px;
    box-shadow: 0 0 20px -10px #000;
    padding: 2rem 3rem;}

.form h2{
  margin: 0 auto;
  padding-bottom: 1rem;
  width: fit-content;
  color:rgb(185, 56, 34);

}

.form > label {
    font-family: 'montserrat';
    margin: auto;
}

label{
  font-family: 'montserrat';
  text-transform: uppercase;

}

input{
  font-family: 'cardo';
  width: 100%;
  padding: 1rem;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all .3s;
  border-bottom:2px solid #bebed2
}

input:focus{
  border-bottom: 2px solid #78788c
}

select{
  width: 100%;
}


.container_contact {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(255, 210, 8);
  border-radius: 0.3em;
  border-color: rgb(255, 210, 8);
  width: 100%;
}

.bg_contact{
  position: absolute;
  width: 100%;
  height: 1490px;
  top: 40px;
  background-image: url("/img/fondo-tortilla-01.png");
  z-index: -1;
  opacity: 0.3;
}